body {
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

ul {
    padding: 0;
}

.header {
    padding: 30px 0;
    height: 40px;
    border-bottom: 1px solid black;
    position: fixed;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 2;
}

.leftNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
}

.myTimes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: mediumaquamarine;
    padding: 0 0 0 10px;
}

#mytLogo {
    padding: 0 0 0 40px;
}

.rightNav {
    display: flex;
    align-content: flex-end;
    padding: 0 40px 0 0;
}

.rightNav li {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}

.rightNav ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    font-size: .8em;
    padding: 20px;
}

.main {
    position: relative;
    top: 100px;
    
    display: flex;
    justify-content: center;

}

.column {
    padding: 0 40px 0 0;
}

.column.large {
    width: 630px;
    
}

.column.medium {
    width: 300px;
    
}

.column.small {
    width: 240px;
    display: flex;
    flex-direction: column;
    
}

.mainTitleOverlay {
    
}

.article {
    
}

.firstTitleOverlay {
    background-image: url('../assets/img-story-main.png');
    display: flex;
    height: 250px;
}

.firstTitleOverlay h2 {
    color: white;
    font-size: 50px;
    height: 200px;
    align-items: flex-start;
}

p {
    font-family: Georgia;
    font-size: 17px;
    color: black;
    padding: 16px 0;
}

.secondTitleOverlay {
    background-image: url('../assets/img-story-2.png');
    display: flex;
    align-items: center;
    height: 300px;
}

.secondTitleOverlay h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.thirdTitleOverlay {
    background-image: url('../assets/img-story-3.png');
    display: flex;
    align-items: center;
    height: 300px;
}

.thirdTitleOverlay h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.fourthTitleOverlay {
    background-image: url('../assets/img-story-1.png');
    display: flex;
    height: 300px;
    align-items: center;
}

.fourthTitleOverlay h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.twoColumn {
    display: flex;
}

.twoColumn .article {
    padding: 0 24px 0 0;
}

.article h2 {

}

#newsBites {
    list-style-type: none;
    align-items: center;
}

#newsBites li { 
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    display: flex;
    padding: 10px 10px;
    border-bottom: 1px solid black;
}

h3 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}

.footer {
    height: 300px;
    display: flex;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    top: 200px;
    position: relative;
    justify-content: center;
    align-items: center;
}

#myTimesFooterLogo {
    color: white;
    align-items: center;
}

#footerNav ul {
  list-style-type: none;
    display: inline-flex;
}

#footerNav li {
    padding-left: 20px; 
}